body{
    background-color: aquamarine;
  }
  
  h1{
    color: #F55050;

  }

  h3{
    color:#7B2869 ;
      
  }

  hr{
    border-style: none;
    border-top-style: none;
    border-color: blueviolet;
    border-width: 5px;
    width: 5%;
    }

    h1{

    }

    h3{

    }

